.main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 60px auto 0 auto;
  font-family: "Roboto", sans-serif;

  .left {

    .card {
      width: 400px;
      box-shadow: 0 3px 6px rgba(8, 66, 255, 0.3);
      border-radius: 5px;

      .img {
        width: 100%;

      }

      .content-wrap {
        padding: 10px;
        .title{
          font-size: 24px;
        }
        .subtitle {
          margin-top: 5px;
          font-size: 20px;
          color: #aaaa;
        }

        .text {
          margin-top: 5px;
          font-size: 18px;
          line-height: 1.2;
        }

        .date-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;

          .date-name {
            font-size: 18px;

          }
          .date{
            font-size: 18px;
          }
        }

        .btn-wrap {
          display: flex;
          justify-content: center;
          margin-top: 15px;
          .btn{
            background-color: #14107a;
            color: white;
            padding: 12px 16px;
            border-radius: 5px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
